{{ define "main" }}
  <div class="home">
    <h1 class="title">Hello.</h1>
    <p class="intro">
      Welcome! I'm Arnaud.
      I'm a software engineer building crypto(graphic) things from sunny Austin, Texas.

      I care about digital privacy, freedom, security, and performance.
      I'm part of the <a href="https://www.mailta.pe" class="mailtape" target="_blank">MailTape</a> crew.
      Someday I hope I can be a capable <a class="mozilla" href="https://www.mozilla.org/en-US/" target="_blank">Mozilla</a> contributor.
    </p>

    <h1 class="title">Find Me Online</h1>
    <p class="social">
        <a rel="noopener noreferrer" href="https://twitter.com/arnaudbrousseau" target="_blank" title="Follow me on Twitter :)" class="twitter">
          <span>Twitter Account</span>
        </a>
        <a rel="noopener noreferrer" href="https://github.com/ArnaudBrousseau" target="_blank" title="Wanna check my code on GitHub? Fork it." class="github">
          <span>My GitHub Profile</span>
        </a>
        <a rel="noopener noreferrer" href="https://fr.linkedin.com/in/arnaudbrousseau/en" target="_blank" title="Check me out on LinkedIn" class="linkedin">
          <span>LinkedIn profile</span>
        </a>
    </p>
  </div>
{{ end }}
